{% extends 'base.html' %}

{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}

{% include 'banner.html' %}


<section class="blog-posts">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="all-blog-posts">
            <div class="row">
              {% for blog in blogs|slice:"3" %}
              <div class="col-lg-12">
                <div class="blog-post">
                  <div class="blog-thumb">
                    <img src="{{blog.banner.url}}" alt="">
                  </div>
                  <div class="down-content">
                    <span>{{blog.category}}</span>
                    <a href="{% url 'blog_details' blog.slug %}"><h4>{{blog.title}}</h4></a>
                    <ul class="post-info">
                      <li><a href="{% url 'view_user_information' blog.user.username %}">{{blog.user.username}}</a></li>
                      <li><a href="#">{{blog.created_date}}</a></li>
                      <li><a href="#">{{blog.blog_comments.all.count}} comments</a></li>
                    </ul>
                    <div class="post-options">
                      <div class="row">
                        <div class="col-6">
                          <ul class="post-tags">
                            <li><i class="fa fa-tags"></i></li>
                            {% if blog.tags.all.count > 0 %}
                            {% for tag in blog.tags.all %}
                            <li><a href="#">{{tag.title}}</a></li>
                            {% endfor %}
                            {% else %}
                            None
                            {% endif %}
                          </ul>
                        </div>
                        <div class="col-6">
                          <ul class="post-share">
                            <li><i class="fa fa-share-alt"></i></li>
                            <li><a href="#">Facebook</a>,</li>
                            <li><a href="#"> Twitter</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <div class="col-lg-12">
                <div class="main-button">
                  <a href="{% url 'blogs' %}">View All Posts</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Sidbar -->
        {% include 'sidebar.html' %}
      </div>
    </div>
  </section>

{% endblock content %}